---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";

const slugs = ['sample', 'example', 'test']; // Replace with your actual slugs

export async function getStaticPaths() {
    return [
        { params: { slug: 'osgx.com.au' } } // Add more slugs as needed
    ];
}

const { slug } = Astro.params;
---

<Layout>
 <main class="space-y-40">
        <div class="relative" id="home">
            <div
                    aria-hidden="true"
                    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
            >
                <div
                        class="blur-[106px] h-32 bg-gradient-to-r from-sky-700 to-sky-700"
                >
                </div>
                <div
                        class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"
                >
                </div>
            </div>

            <section
                    class="pt-[150px] md:pt-[200px] md:pb-[150px] pb-[100px] relative"
            >
                <Container>
                    <h1
                            class="lg:leading-relaxed leading-10 text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl"
                    >
                        works
                    </h1>
                    <p
                            class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5"
                    >
                        Coming soon
                    </p>
                </Container>
            </section>




        </div>
    </main>
    <p>The page for <strong>{slug}</strong> is under construction. Please check back later!</p>

</Layout>