---
import Layout from "../../layouts/Layout.astro";
import MainCallToAction from "../../components/MainCallToAction.astro";
import Container from "../../components/Container.astro";
import "../../styles/index.css";
---

<Layout>
    <main class="space-y-40">
<p>Coming soon.</p>
    </main>
</Layout>
