---
import Stats from '../../components/Stats.astro';
import Features from '../../components/Features.astro';
import HeroSection2 from '../../components/HeroSection2.astro';
import Layout from '../../layouts/ServiceLayout.astro';
import Testimonials from '../../components/Testimonials.astro';
import CallToAction from '../../components/CallToAction.astro';
import Blog from '../../components/Blog.astro';
import Container from "../../components/Container.astro";

const pageTitle = "WordPress Development";
const pageDescription = "We build custom WordPress websites that are fast, secure, and easy to manage. Our WordPress development services include custom theme development, plugin development, and more.";
const pageKeywords = ["WordPress development", "WordPress design", "WordPress theme development", "WordPress plugin development"];
---

<Layout
	title={pageTitle}
	description={pageDescription}
	keywords={pageKeywords}
>
	<main class="space-y-40">
        <div class="relative" id="home">
            <div
                aria-hidden="true"
                class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
            >
                <div
                    class="blur-[106px] h-32 bg-gradient-to-r from-sky-700 to-sky-700"
                >
                </div>
                <div
                    class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"
                >
                </div>
            </div>


			<!-- hero section -->
            <section class="relative pt-[200px] pb-[120px]">
                <Container>
                    <div
                        class="grid grid-cols-1 md:grid-cols-4 items-center gap-5 md:gap-2"
                    >
                        <div class="col-span-3">
                            <div class="">
                                <h1
                                    class="lg:leading-relaxed leading-10 text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl w-[30%]"
                                >
                                    WordPress Development
                                </h1>
                                <p
                                    class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5"
                                >
                                    Empower your online presence with our expert
                                    WordPress development services. From bespoke
                                    themes to powerful plugins, we bring your
                                    digital vision to life.
                                </p>
                                <div class="flex">
                                    <a
                                        href="/"
                                        class="relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                                    >
                                        <span
                                            class="relative text-sm font-semibold text-white"
                                            >Quick Quote</span
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1">
                            <img
                                src="/images/WordPress-logotype-standard 1.svg"
                                alt=""
                                class="w-full"
                            />
                        </div>
                    </div>
                </Container>
            </section>
		</div>
	</main>	
</Layout>