/* single blog css */
.single-content p{
    margin-bottom: 15px;
}

.single-content a{
    color: #9747FF;
    text-decoration: underline;
}

.single-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 25px;
}

.single-content h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 25px;
}

.single-content h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 25px;
}

.single-content h4{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 25px;
}

.single-content h5{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.single-content h6{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

ol{
    list-style: decimal;
    padding-left: 15px;

}

li{
    margin-bottom: 12px;
}

.single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content h5{
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .single-content h1{
        font-size: 30px;
    }

    .single-content h2{
        font-size: 28px;
    }

    .single-content h3{
        font-size: 25px;
    }

    .single-content h4{
        font-size: 22px;
    }

    .single-content h5{
        font-size: 20px;
    }

    .single-content h6{
        font-size: 18px;
    }

}
  
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
}