---
import Container from "../Container.astro";
import '../../styles/IconCard.css';
---

<section class="relative pt-[100px] pb-[150px]">
                <Container>
                    <div class="text-center w-[85%] ml-auto mr-auto">
                        <h2 class="leading-relaxed text-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">Why Choose Expresiv Designs?</h2>
                    </div>
                    <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                                <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                                    <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                                        <div class="light-bg blur-[50px] h-10"></div>
                                    </div>
                                    
                                    <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-[20px] h-[60px] w-[60px] p-3 flex items-center justify-center">
                                       <img src="/images/icon/expertise.svg" alt="">
                                    </div>
                                    <h4 class="mt-5 text-lg font-semibold">Expertise</h4>
                                    <p class="mt-1">With over 8 years of experience in website design and development, we have the knowledge and skills to bring your vision to life.</p>
                                </div>

                                <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                                    <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                                        <div class="light-bg blur-[50px] h-10"></div>
                                    </div>
                                    
                                    <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-[20px] h-[60px] w-[60px] p-3 flex items-center justify-center">
                                       <img src="/images/icon/solution.svg" alt="">
                                    </div>
                                    <h4 class="mt-5 text-lg font-semibold">Custom Solutions</h4>
                                    <p class="mt-1">We don't believe in one-size-fits-all solutions. Every website we build is tailored to your unique needs and objectives.</p>
                                </div>

                                <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                                    <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                                        <div class="light-bg blur-[50px] h-10"></div>
                                    </div>
                                    
                                    <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-[20px] h-[60px] w-[60px] p-3 flex items-center justify-center">
                                       <img src="/images/icon/heart.svg" alt="">
                                    </div>
                                    <h4 class="mt-5 text-lg font-semibold">Client-Centric Approach</h4>
                                    <p class="mt-1">Your satisfaction is our top priority. We're committed to delivering results that exceed your expectations, on time and within budget.</p>
                                </div>

                                <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                                    <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                                        <div class="light-bg blur-[50px] h-10"></div>
                                    </div>
                                    
                                    <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-[20px] h-[60px] w-[60px] p-3 flex items-center justify-center">
                                       <img src="/images/icon/pricing.svg" alt="">
                                    </div>
                                    <h4 class="mt-5 text-lg font-semibold">Affordable Pricing</h4>
                                    <p class="mt-1">We understand the budget constraints of small businesses. Our transparent pricing ensures that you get maximum value for your investment.</p>
                                </div>
                    </div>
                </Container>
            </section>