---
import Container from "../Container.astro";
import '../../styles/IconCard.css'
---

<section class="relative pb-[100px] md:pb-[150px]">
    <Container>
        <div class="text-center w-full md:w-[85%]  ml-auto mr-auto">
            <h2 class="leading-relaxed text-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">Why choose Expresiv for your WordPress development project?
            </h2>
            <p class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5">
                With a proven track record and a commitment to staying at the forefront of technology, our talented teams ensure your WordPress website is efficient, innovative, and future-proof.

            </p>
        </div>
        <div class="mt-[80px] grid grid-col-1 md:grid-cols-2 gap-10 md:gap-10">
            <div class="border-solid border border-[#E4E4E7] p-10 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                    <div class="light-bg blur-[50px] h-10"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center">
                    <h3 class="text-xl text-gray-900 dark:text-white font-bold">1</h3>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Extraordinary people, exceptional outcome</h4>
                <p class="mt-1">Our outstanding team represents our greatest asset. With business acumen, we translate objectives into solutions. Intellectual agility drives efficient software development problem-solving. Superior communication ensures seamless teamwork integration. </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-10 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                    <div class="light-bg blur-[50px] h-10"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center">
                    <h3 class="text-xl text-gray-900 dark:text-white font-bold">2</h3>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Deep technical expertise</h4>
                <p class="mt-1">We don’t claim to be experts in every framework and language. Instead, we focus on the tech ecosystems in which we excel, selecting engagements that align with our competencies for optimal results. Moreover, we offer pre-developed components and scaffolding to save you time and money.                </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-10 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                    <div class="light-bg blur-[50px] h-10"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center">
                    <h3 class="text-xl text-gray-900 dark:text-white font-bold">3</h3>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Balancing innovation with practicality</h4>
                <p class="mt-1">We stay ahead of industry trends and innovations, avoiding the hype of every new technology fad. Focusing on innovations with real commercial potential, we guide you through the ever-changing tech landscape, helping you embrace proven technologies and cutting-edge advancements.</p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-10 rounded-3xl relative overflow-hidden iconCard dark:text-white ">
                <div aria-hidden="true" class="absolute inset-0 opacity-20 dark:opacity-20 top-[-20px]">
                    <div class="light-bg blur-[50px] h-10"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center">
                    <h3 class="text-xl text-gray-900 dark:text-white font-bold">4</h3>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Flexibility in our approach</h4>
                <p class="mt-1">We offer a range of flexible working arrangements to meet your specific needs. Whether you prefer our end-to-end project delivery, embedding our experts within your teams, or consulting and retainer options, we have a solution designed to suit you.</p>
            </div>
        </div>
    </Container>
</section>