---
import Layout from '../layouts/Layout.astro';
import TechStack from "../components/ServicesPage/TechStack.astro";
import MainCallToAction from "../components/MainCallToAction.astro";
import OfferSection from "../components/ServicesPage/OfferSection.astro";
import DesignProcess from "../components/ServicesPage/DesignProcess.astro";
import BrandingSection from "../components/ServicesPage/BrandingSection.astro";
import HeroSection from "../components/ServicesPage/HeroSection.astro";

---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40">
		<div class="relative" id="home">
			<div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
				<div class="blur-[106px] h-32 bg-gradient-to-r from-sky-700 to-sky-700"></div>
				<div class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"></div>
			</div>
			
			<!-- BANNER -->
			<HeroSection
			title="We help you launch digital products that drive revenue and grow your brand"
			description="Elevating businesses with expertly designed and executed digital strategies. Expresiv is here to help you conquer the online space one pixel at a time."
			buttonText="Book a Strategy Call"
			buttonLink="/contact"
		/>

			<!-- what we offer -->
			<OfferSection/>			

			<!-- tech stack -->
			<TechStack/>


			<!-- design process -->
			<DesignProcess/>

			<!-- BRANDING -->
			<BrandingSection/>

			<!-- Call to action -->
			<MainCallToAction/>
		</div>
	</main>
</Layout>