---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection2 from '../components/HeroSection2.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import Container from "../components/Container.astro";
import TechStack from "../components/TechStack.astro";
import MainCallToAction from "../components/MainCallToAction.astro";
import OfferSection from "../components/OfferSection.astro";
import IconCard from '../components/IconCard';

---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40">
		<div class="relative" id="home">
			<div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
				<div class="blur-[106px] h-32 bg-gradient-to-r from-sky-700 to-sky-700"></div>
				<div class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"></div>
			</div>
			<section class="relative">
				<Container>
					<div>
						<div class="">
							<div class="pt-[200px] pb-[120px] w-[85%]">
								<h1 class="leading-relaxedtext-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-6xl">We Create meaningful digital solutions that level up your business
								</h1>
								<p class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5">Elevating businesses with expertly designed and executed digital strategies. Crator is here to help you conquer the online space one pexel at a time.
								</p>
								<a
								href="/contact"
								class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
								>
								<span class="relative text-sm font-semibold text-white"
									>Let’s get started</span
								>
							</a>
							</div>
						</div>
					</div>
				</Container>
			</section>

			<!-- what we offer -->
			<OfferSection/>			
			

			<!-- tech stack -->
			<TechStack/>

			<!-- design process -->
			<section class="relative pt-[100px] pb-[100px]">
				<Container>
					<div class="text-center w-[85%]  ml-auto mr-auto">
						<h2 class="leading-relaxedtext-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">Experience our simple design process
						</h2>
						<p class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5">Uncover the essence of your brand, through our highly collaborative and intuitively structured design process.
						</p>
					</div>
				</Container>
			</section>

			<!-- Call to action -->
			<MainCallToAction/>
		</div>
	</main>
</Layout>