---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
        <div class="mx-auto max-w-screen-xl text-center">
          <a href="/" aria-label="extresiv." class="space-x-2 items-center ">
            <span class="text-2xl font-medium text-gray-900 dark:text-white">expresiv.</span>
          </a>
          <p class="my-6 text-gray-500 dark:text-gray-400">
            Navigating small businesses through digital transformation.
          </p>
          <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Premium</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
          </ul>
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-2024 <a href="#" class="hover:underline">Expresiv Designs</a>. All Rights Reserved.</span>
        </div>
    </Container>
</footer>