---
import Container from "./Container.astro";
---

<footer class="py-16 md:py-20 bg-[#181725]">
    <Container>
        <div
            class="grid grid-col-1 sm:grid-cols-2 md:grid-cols-5 gap-10 lg:gap-20 text-white"
        >
            <div class="col-span-2 md:col-span-1">
                <div class="font-bold text-base">Expresiv.</div>
            </div>
            <div>
                <div class="font-bold text-base">Menu</div>
                <ul class="text-sm">
                    <li class="mt-3"><a href="#" title="">About</a></li>
                    <li class="mt-3"><a href="#" title="">Work</a></li>
                    <li class="mt-3"><a href="#" title="">What we do</a></li>
                    <li class="mt-3"><a href="/contact" title="">Contact</a></li>
                    <li class="mt-3"><a href="#" title="">Careers</a></li>
                </ul>
            </div>
            <div>
                <div class="font-bold text-base">Services</div>
                <ul class="text-sm">
                    <li class="mt-3"><a href="/services/ui-ux" title="UI/UX Design">UI/UX Design</a></li>
                    <li class="mt-3"><a href="/services/website-development" title="Website Development">Website Development</a></li>
                    <li class="mt-3"><a href="/services/digital-Marketing" title="Digital Marketing">Digital Marketing</a></li>
                    <li class="mt-3"><a href="/services/mobie-app-development" title="Mob App Development">Mob App Development</a></li>
                    <li class="mt-3"><a href="/services/wordpress-development" title="WordPress Development">WordPress Development</a></li>
                    <li class="mt-3"><a href="/services/laravel-development" title="Laravel Development">Laravel Development</a></li>
                </ul>
            </div>
            <div>
                <div class="font-bold text-base">Location</div>
                <ul class="text-sm">
                    <li class="mt-3">
                        <a href="#">Homebush West, Sydney, NSW 2140</a>
                    </li>
                    <li class="mt-3"><a href="#">hello@expresive.au</a></li>
                    <li class="mt-3"><a href="#">+44 20 3819 8886</a></li>
                </ul>
            </div>
            <div>
                <div class="font-bold text-base">Follow Us</div>
                <ul class="text-sm">
                    <li class="mt-3 flex items-center gap-3">
                        <img
                            src="/images/icon/facebook.svg"
                            alt=""
                            class="w-[16px] h-[16px]"
                        />
                        <a href="#">Facebook</a>
                    </li>
                    <li class="mt-3 flex items-center gap-3">
                        <img
                            src="/images/icon/instagram.svg"
                            alt=""
                            class="w-[16px] h-[16px]"
                        />
                        <a href="#">Instagram</a>
                    </li>
                    <li class="mt-3 flex items-center gap-3">
                        <img
                            src="/images/icon/twitter.svg"
                            alt=""
                            class="w-[16px] h-[16px]"
                        />
                        <a href="#">Twitter</a>
                    </li>
                    <li class="mt-3 flex items-center gap-3">
                        <img
                            src="/images/icon/linkedin.svg"
                            alt=""
                            class="w-[16px] h-[16px]"
                        />
                        <a href="#">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
        <div
            class="border-t border-white mt-16 md:mt-[100px] pt-8 text-white flex justify-between flex-col gap-4 md:flex-row text-sm"
        >
            <div>2024 expresiv. All right reserved.</div>
            <div class="flex space-x-4">
                <a href="#" title="">Privacy Policy</a>
                <a href="#" title="">Terms of Service</a>
                <a href="#" title="">Cookies Settings</a>
            </div>
        </div>
    </Container>
</footer>
