---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="leading-relaxedtext-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-6xl">Crafting Digital Solutions for <span class="text-primary dark:text-white">Small Business Success.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">At Expreiv, we design digital success for small businesses. From captivating websites to custom applications and strategic social media, our solutions elevate your online presence and streamline operations, ensuring a thriving digital future for your business.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Quick Quote</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Free Concept Design</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h5 class="text-lg font-semibold text-gray-700 dark:text-white">The Affordable Advantage</h5>
                        <p class="mt-2 text-gray-500">Websites starting from $999.</p>
                    </div>
                    <div class="text-left">
                        <h5 class="text-lg font-semibold text-gray-700 dark:text-white">Rapid Results, Swift Solutions</h5>
                        <p class="mt-2 text-gray-500">1 week turnaround time.</p>
                    </div>
                    <div class="text-left">
                        <h5 class="text-lg font-semibold text-gray-700 dark:text-white">Love at First Site</h5>
                        <p class="mt-2 text-gray-500">Handcrafted with love.</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <a href="https://proworkshopgear.com.au" target="_blank">
	                    <img src="/images/clients/pwg.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </a>
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <a href="https://hoistcare.com.au" target="_blank">
	                    <img src="/images/clients/hoistcare.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                    </a>
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <a href="https://beautyandnailsmobile.com.au" target="_blank">
	                    <img src="/images/clients/beautyandnails.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                    </a>
                </div>

	            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
		            <a href="https://proworkshopgear.com.au" target="_blank">
			            <img src="/images/clients/pwg.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
		            </a>
	            </div>
	            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
		            <a href="https://hoistcare.com.au" target="_blank">
			            <img src="/images/clients/hoistcare.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
		            </a>
	            </div>
	            <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
		            <a href="https://beautyandnailsmobile.com.au" target="_blank">
			            <img src="/images/clients/beautyandnails.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
		            </a>
	            </div>
              </div>
        </div>
    </Container>
</div>