---
import Container from "./Container.astro"

---

<div class="relative pb-[100px] md:pb-[150px]">
  <div aria-hidden="true" class="absolute inset-0 h-max w-[85%] m-auto opacity-40 dark:opacity-20 flex justify-between">
    <div class="blur-[50px] w-[150px] h-[150px] bg-gradient-to-br from-yellow-100 to-yellow-400 dark:from-blue-700"></div>
    <div class="blur-[80px]  w-[180px] h-[180px] bg-gradient-to-r from-green-400 to-green-300 dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="relative mt-10">
      <div class="flex gap-2 md:gap-[100px] w-full ml-auto mr-auto items-start md:items-center flex-col md:flex-row">
        <div>
          <h2 class="leading-relaxed text-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">Let's make something great together.
          </h2>
          <p class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5">Whether you're a startup with a groundbreaking idea or an established business seeking a digital transformation, we invite you to join us on this exciting journey. Let's create the next chapter of success together!
          </p>
        </div>
        <div>
          <a
								href="/contact"
								class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
								>
								<span class="relative text-sm font-semibold text-white"
									>Let’s Connect</span
								>
							</a>
        </div>
      </div>
    </div>
  </Container>
</div>