---
import Container from "./Container.astro";
import { Box } from 'lucide-react';


---

<section class="relative">
    <Container>
        <div class="text-center w-[85%]  ml-auto mr-auto">
            <h2 class="leading-relaxedtext-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">What we offer</h2>
        </div>
        <div class="mt-8 grid grid-cols-3 gap-8">
            <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden">
                <div aria-hidden="true" class="absolute inset-0 opacity-40 dark:opacity-20 top-[-20px]">
                    <div class="blur-[50px] h-10 bg-gradient-to-r from-blue-100 to-blue-300"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center" >
                    <Box color="#262437"/>
                </div>
                <h4 class="mt-5 text-lg font-semibold">UI/UX Design</h4>
                <p class="mt-1">Transforming ideas into visually compelling and functional designs that users love.
                </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden">
                <div aria-hidden="true" class="absolute inset-0 opacity-40 dark:opacity-20 top-[-20px]">
                    <div class="blur-[50px] h-10 bg-gradient-to-r from-green-100 to-green-200"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center" >
                    <Box color="#262437"/>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Web Development</h4>
                <p class="mt-1">Transforming ideas into visually compelling and functional designs that users love.

                </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden">
                <div aria-hidden="true" class="absolute inset-0 opacity-40 dark:opacity-20 top-[-20px]">
                    <div class="blur-[50px] h-10 bg-gradient-to-r from-pink-100 to-pink-200"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center" >
                    <Box color="#262437"/>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Mobile App Development</h4>
                <p class="mt-1">Transforming ideas into visually compelling and functional designs that users love.
                </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden">
                <div aria-hidden="true" class="absolute inset-0 opacity-40 dark:opacity-20 top-[-20px]">
                    <div class="blur-[50px] h-10 bg-gradient-to-r from-emerald-100 to-emerald-200"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center" >
                    <Box color="#262437"/>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Digital Marketing</h4>
                <p class="mt-1">Transforming ideas into visually compelling and functional designs that users love.
                </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden">
                <div aria-hidden="true" class="absolute inset-0 opacity-40 dark:opacity-20 top-[-20px]">
                    <div class="blur-[50px] h-10 bg-gradient-to-r from-yellow-100 to-yellow-200"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center" >
                    <Box color="#262437"/>
                </div>
                <h4 class="mt-5 text-lg font-semibold">Branding Services</h4>
                <p class="mt-1">Transforming ideas into visually compelling and functional designs that users love.
                </p>
            </div>
            <div class="border-solid border border-[#E4E4E7] p-8 rounded-3xl relative overflow-hidden">
                <div aria-hidden="true" class="absolute inset-0 opacity-40 dark:opacity-20 top-[-20px]">
                    <div class="blur-[50px] h-10 bg-gradient-to-r from-sky-100 to-sky-200"></div>
                </div>
                <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-3xl h-[60px] w-[60px] p-3 flex items-center justify-center" >
                    <Box color="#262437"/>
                </div>
                <h4 class="mt-5 text-lg font-semibold">SEO Optimization</h4>
                <p class="mt-1">Transforming ideas into visually compelling and functional designs that users love.
                </p>
            </div>
        </div>
    </Container>
</section>