---
import { Icon } from 'astro-icon/components';
---

<div class="card w-96 bg-base-100 shadow-xl border border-purple-500 rounded-3xl p-2">
	<div class="card-header">
		<Icon name="home"/>
    </div>
    <div class="card-body">
		<h2 class="card-title">Shoes!</h2>
		<p>If a dog chews shoes whose shoes does he choose?</p>
		<div class="card-actions justify-end">
			<button class="btn btn-primary">Buy Now</button>
		</div>
	</div>
</div>