---
import Container from "../Container.astro";
import "../../styles/index.css";
---

<div class="columns-1 md:columns-2 lg:columns-3 gap-8">
    <div class="testimonial-module w-full">
        <h4>SALLY PAECH MARKETING DIRECTOR BEERENBERG</h4>
        <p>
            “Working with Tiny Hunter has been the most productive, creative and
            exciting experience for Beerenberg. The team went to great lengths
            to fully immerse themselves in our brand – we know they care. They
            are exceptional communicators and constantly strive for perfection
            in their work. It is a genuine partnership. They ‘got us’ from the
            first moment and since then we’ve moved ahead in leaps and bounds.
            We now know we’re heading in the right direction and we have Tiny
            Hunter to thank for it.”
        </p>
        <div>
            <a href="#" title="view work">view work</a>
        </div>
    </div>
    <div class="testimonial-module w-full">
        <h4>SALLY PAECH MARKETING DIRECTOR BEERENBERG</h4>
        <p>
            “Working with Tiny Hunter has been the most productive, creative and
            exciting experience for Beerenberg. The team went to great lengths
            to fully immerse themselves in our brand – we know they care. They
            are exceptional communicators and constantly strive for perfection
            in their work. It is a genuine partnership. They ‘got us’ from the
            first moment and since then we’ve moved ahead in leaps and bounds.
            We now know we’re heading in the right direction and we have Tiny
            Hunter to thank for it.”
        </p>
        <div>
            <a href="#" title="view work">view work</a>
        </div>
    </div>
    <div class="testimonial-module w-full">
        <h4>SALLY PAECH MARKETING DIRECTOR BEERENBERG</h4>
        <p>
            “Working with Tiny Hunter has been the most productive, creative and
            exciting experience for Beerenberg. The team went to great lengths
            to fully immerse themselves in our brand – we know they care. They
            are exceptional communicators and constantly strive for perfection
            in their work. It is a genuine partnership. They ‘got us’ from the
            first moment and since then we’ve moved ahead in leaps and bounds.
            We now know we’re heading in the right direction and we have Tiny
            Hunter to thank for it.”
        </p>
        <div>
            <a href="#" title="view work">view work</a>
        </div>
    </div>
    <div class="testimonial-module w-full">
        <h4>GREG GRIFFITH CEO FAMILY BUSINESS AUSTRALIA</h4>
        <p>
            “It was really important for us to work with a brand agency that
            ‘got us’ and our members, and Tiny Hunter were just that! As a
            family business and members of Family Business Australia themselves,
            they understood the competitive advantage of being a family business
            and they also understood the complexity of multigenerational
            viewpoints. We needed a brand and messaging that spoke to all and
            where our members felt like our conference was simply one they
            couldn’t miss and had the flexibility to design their own
            experience. Knowing that Tiny Hunter had worked on building the
            brands of many family businesses (i.e. Beerenberg) we knew we would
            have a shared vision in creating a strategy and design that family
            businesses and their advisors would connect with. Our pursuit is to
            put together a conference where our delegates feel year-on-year they
            are part of something designed, specifically just for them. It
            really is their conference, their way”.
        </p>
        <div>
            <a href="#" title="view work">view work</a>
        </div>
    </div>
    <div class="testimonial-module w-full">
        <h4>YAEL BRADBURY HEAD OF MARKETING SYDNEY AIRPORT</h4>
        <p>
            “Tiny Hunter have worked closely with Sydney Airport in a creative
            and strategic capacity for a number of years. Their creative vision,
            dedication to excellence and ability to be nimble in the face of
            juggling many projects with tight timeframes makes them a trusted
            partner. As an added bonus they are friendly, fabulous and wonderful
            hosts when in Rome should you bump into them on your travels as I
            was lucky to do!”
        </p>
        <div>
            <a href="#" title="view work">view work</a>
        </div>
    </div>
    <div class="testimonial-module w-full">
        <h4>YAEL BRADBURY HEAD OF MARKETING SYDNEY AIRPORT</h4>
        <p>
            “Tiny Hunter have worked closely with Sydney Airport in a creative
            and strategic capacity for a number of years. Their creative vision,
            dedication to excellence and ability to be nimble in the face of
            juggling many projects with tight timeframes makes them a trusted
            partner. As an added bonus they are friendly, fabulous and wonderful
            hosts when in Rome should you bump into them on your travels as I
            was lucky to do!”
        </p>
        <div>
            <a href="#" title="view work">view work</a>
        </div>
    </div>
</div>
