---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
import {Helmet} from 'react-helmet-async';
import Container from "../components/Container.astro";
import ServiceCard from "../components/ServiceCard.astro";
import { Icon } from 'astro-icon/components';

export interface Props {
	title: string;
	keywords: string[];
	description: string;
}

const { title, keywords, description } = Astro.props;

---


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="generator" content={Astro.generator}/>
	<meta name="description"
	      content={description ?? 'We help small businesses thrive.'}>
	<title> {title ?? 'Expresiv Designs - Supporting small businesses thrive.'}</title>

	<meta name="keywords"
	      content={keywords ?? 'design agency, website design, brochure design, digital marketing, SEO, search engine optimization, graphic design, branding, logo design, web development, online marketing, content creation, social media marketing' }/>
	<meta property="og:title" content="Expresiv Designs"/>
	<meta property="og:description" content="Expresiv Designs: Supporting small business thrive."/>
	<meta property="og:image" content="https://expresiv.com.au/static/social-image.jpeg"/>
	<meta property="og:url" content="https://expresiv.com.au"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<link rel="sitemap" href="/sitemap-index.xml" />

	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- @todo might need to search for a better alternative of adding google analytics-->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y1HKE41C83"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-Y1HKE41C83');
	</script>

</head>
<body class="bg-white dark:bg-gray-900">
<AppHeader/>
<main class="space-y-40 mb-40">
	<div class="relative" id="home">
		<div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
			<div class="blur-[106px] h-56 bg-[conic-gradient(at_right,_var(--tw-gradient-stops))] from-slate-600 via-slate-400 to-slate-200"></div>
			<div class="blur-[106px] h-32 bg-gradient-to-r from-gray-200 via-gray-400 to-gray-600"></div>
		</div>
		<Container>
			<div class=" pt-2 ml-auto">

			</div>
		</Container>
	</div>
</main>
<slot/>
<AppFooter/>
</body>
</html>
<style>
    html {
        font-family: Urbanist, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>